<h1>All sweeps</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sweeps.each do |sweep| %>
      <tr>
        <td><%= sweep.title %></td>
        <td><%= sweep.date %></td>
        <td><%= link_to 'Show', sweep %></td>
        <td><%= link_to 'Edit', edit_sweep_path(sweep) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sweep', new_sweep_path %>
